{% extends 'base.html' %}

{% block head_title %}Contact information{% endblock %}
{% block body_title %}Contact information{% endblock %}

{% block main %}
<p>
  {% if config['CONTACT_EMAIL'] %}
  Contact email: <strong>{{ config['CONTACT_EMAIL'] }}</strong>
  {% else %}
  No contact email has been set for this site.
  {% endif %}
</p>
<p>
  {% if config['HOST_NAME'] %}
  This site is hosted by
  {% if config['HOST_URL'] %}
  <a href="{{ config['HOST_URL'] }}" target="blank">{{ config['HOST_NAME'] }}</a>.
  {% else %}
  {{ config['HOST_NAME'] }}.
  No link has been set for the host.
  {% endif %}
  {% else %}
  No information about the host has been set for this site.
  {% endif %}
</p>
{% endblock %} {# block main #}
