{% extends 'base.html' %}

{% block head_title %}Information for {{ data['filename'] }}{% endblock %}

{% block body_title %}Information for {{ data['filename'] }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Blob</div>
  <div class="col-md">
    <a href="{{ url_for('blob.blob', filename=data['filename']) }}">
      {{ data['filename'] }}</a>
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Description</div>
  <div class="col-md">{{ data['description'] | markdown }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Size</div>
  <div class="col-md">
    {{ data['size'] | filesizeformat }}
    <small class="text-muted ml-2">({{ data['size'] }} bytes)</small>
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">md5</div>
  <div class="col-md text-break">{{ data['md5'] }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">sha256</div>
  <div class="col-md text-break">{{ data['sha256'] }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">sha512</div>
  <div class="col-md text-break">{{ data['sha512'] }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Modified</div>
  <div class="col-md">
    <span class="localtime">{{ data['modified'] }}</span>
    <a href="{{ url_for('.logs', filename=data['filename']) }}"
       class="ml-3">Logs</a>
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Created</div>
  <div class="col-md localtime">{{ data['created'] }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">User</div>
  <div class="col-md">{{ get_user(data['username']) | user_link }}</div>
</div>

{% if allow_update %}
{% if g.current_user.get('accesskey') %}
<div class="card my-4">
  {% include 'blob/curl.html' %}
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">
          Update the content of this blob by uploading a file.
        </h6>
        <p class="small">
          Note that the filename of the uploaded file does not matter.
        </p>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['curl']['content'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['curl']['content'] }}</pre>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">
          Update the description of this blob by uploading a Markdown file.
        </h6>
        <p class="small">
          Note that the filename of the uploaded file does not matter.
        </p>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['curl']['description'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['curl']['description'] }}</pre>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">Delete this blob.</h6>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['curl']['delete'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['curl']['delete'] }}</pre>
  </div>
</div>

<div class="card my-4">
  {% include 'blob/requests.html' %}
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">
          Update the content of this blob by uploading a file.
        </h6>
        <p class="small">
          Note that the filename of the uploaded file does not matter.
        </p>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['requests']['content'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['requests']['content'] }}</pre>
  </div>
  
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">
          Update the description of this blob by uploading a Markdown file.
        </h6>
        <p class="small">
          Note that the filename of the uploaded file does not matter.
        </p>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['requests']['description'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['requests']['description'] }}</pre>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">Delete this blob.</h6>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['requests']['delete'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['requests']['delete'] }}</pre>
  </div>
</div>

{% else %}
<div class="card my-4">
  <div class="card-body">
    <p>
      You need to set the access key of your account to see some useful
      code snippets for updating the blob.
    </p>
    <p>
      Go to
      <a href="{{ url_for('user.edit', username=g.current_user['username']) }}">
        your user account edit page</a>,
      click the checkbox, save and return to here.
    </p>
  </div>
</div>
{% endif %} {# if g.current_user.get('accesskey') #}
{% endif %} {# if allow_edit #}

{% endblock %} {# block main #}

{% block actions %}
{% if allow_update %}
<a href="{{ url_for('blob.update', filename=data['filename']) }}"
   role="button" class="btn btn-block btn-primary">Update</a>
{% endif %} {# if allow_update #}
{% if allow_update %}
<a href="{{ url_for('blob.rename', filename=data['filename']) }}"
   role="button" class="btn btn-block btn-primary mt-2">Rename</a>
{% endif %} {# if allow_update #}
{% if g.current_user %}
<a href="{{ url_for('blob.copy', filename=data['filename']) }}"
   role="button" class="btn btn-block btn-primary mt-2">Copy</a>
{% endif %} {# if g.current_user #}
{% if allow_delete %}
<div class="mt-4">
  <form action="{{ url_for('blob.blob', filename=data['filename']) }}"
        method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
      onclick="return confirm('Really delete this blob?')">Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}
