{% extends 'base.html' %}

{% block head_title %}Details {{ data['filename'] }}{% endblock %}

{% block body_title %}
Details
<a href="{{ url_for('blob.blob', filename=data['filename']) }}">
  {{ data['filename'] }}</a>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Description</div>
  <div class="col-md">
    {{ data['description'] | markdown }}
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">Size</div>
  <div class="col-md">
    {{ data['size'] | filesizeformat }}
    <small class="text-muted ml-2">({{ data['size'] }} bytes)</small>
  </div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">md5</div>
  <div class="col-md small text-break">{{ data['md5'] }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">sha256</div>
  <div class="col-md small text-break">{{ data['sha256'] }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">sha512</div>
  <div class="col-md small text-break">{{ data['sha512'] }}</div>
</div>

<div class="row">
  <div class="col-md-2 font-weight-bold text-right">User</div>
  <div class="col-md">
    {% if g.am_admin %}
    <a href="{{ url_for('user.display', username=data['username']) }}">
      {{ data['username'] }}</a>
    {% else %}
    {{ data['username'] }}
    {% endif %}
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
{% if allow_update %}
<a href="{{ url_for('blob.update', filename=data['filename']) }}"
   role="button" class="btn btn-block btn-primary">Update</a>
{% endif %} {# if allow_update #}
{% if allow_delete %}
<div class="mt-4">
  <form action="{{ url_for('blob.blob', filename=data['filename']) }}"
        method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
      onclick="return confirm('Really delete this blob?')">Delete</button>
  </form>
</div>
{% endif %} {# if allow_delete #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  <div class="mt-4">
    Modified <span class="localtime">{{ data['modified'] }}</span>
  </div>
  <div class="mt-1">
    <a href="{{ url_for('.logs', filename=data['filename']) }}">Logs</a>
  </div>
  <div class="mt-1">
    Created <span class="localtime">{{ data['created'] }}</span>
  </div>
</div>
{% endblock %} {# block info #}
