{% extends 'base.html' %}

{% block head_title %}Rename blob {{ data["filename"] }}{% endblock %}

{% block body_title %}Rename blob {{ data["filename"] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.rename', filename=data['filename']) }}"
      method="POST">
  {{ csrf_token() }}
  <div class="mb-3">
    <label for="filename" class="col-form-label">New filename</label>
    <input type="text" id="filename" name="filename"
	   class="form-control"
	   aria-describedby="filenameHelp">
    <small id="fileHelp" class="form-text">
      The new filename of the blob. It must be unique.
    </small>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary px-5">Rename</button>
  </div>
</form>
{% endblock %} {# block main #}
    
{% block actions %}
<a href="{{ url_for('blob.info', filename=data['filename']) }}" role="button"
   class="btn btn-block btn-secondary">Cancel</a>
{% endblock %} {# block actions #}
