{% extends 'base.html' %}

{% block head_title %}Update blob {{ data["filename"] }}{% endblock %}

{% block body_title %}Update blob {{ data["filename"] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.update', filename=data['filename']) }}"
      enctype="multipart/form-data"
      method="POST">
  {{ csrf_token() }}

  <div class="mb-3">
    <label for="description" class="col-form-label">Description</label>
    <textarea id="description" name="description"
	      class="form-control" rows="8"
	      aria-describedby="descriptionHelp"
              >{{ data["description"] or '' }}</textarea>
    <small id="descriptionHelp" class="form-text">
      Description of the blob in
      <a target="_blank" href="{{ constants.MARKDOWN_URL }}">Markdown format</a>.
    </small>
  </div>

  <div class="mb-3">
    <label for="file" class="col-form-label">File to update blob content</label>
    <div class="custom-file">
      <input type="file" id="file" name="file"
	     class="custom-file-input"
	     aria-describedby="fileHelp">
      <label class="custom-file-label" for="file">Choose file</label>
    </div>
    <small id="fileHelp" class="form-text">
      The file whose content will be used to update the blob. Note
      that the filename of the blob will not be changed.
    </small>
  </div>

  {% if g.am_admin %}
  <div class="mb-3">
    <label for="username" class="col-form-label">Change user</label>
    <input type="text" id="username" name="username"
	   class="form-control"
	   aria-describedby="usernameHelp">
    <small id="usernameHelp" class="form-text">
      The username of the new owner of the blob. Leave blank if no change.
    </small>
  </div>
  {% endif %} {# if g.am_admin #}

  <div class="mb-3">
    <button type="submit" class="btn btn-primary px-5">Update</button>
  </div>
</form>
{% endblock %} {# block main #}
    
{% block actions %}
<a href="{{ url_for('blob.info', filename=data['filename']) }}" role="button"
   class="btn btn-block btn-secondary">Cancel</a>
{% endblock %} {# block actions #}
