{% extends 'base.html' %}

{% block head_title %}Upload a file to a new blob (file){% endblock %}

{% block body_title %}Upload a file to a new blob (file){% endblock %}

{% block main %}
<form action="{{ url_for('.upload') }}"
      enctype="multipart/form-data"
      method="POST">
  {{ csrf_token() }}
  <div class="mb-3">
    <label for="description" class="col-form-label">Description</label>
    <textarea id="description" name="description"
	      class="form-control" rows="8"
	      aria-describedby="descriptionHelp"></textarea>
    <small id="descriptionHelp" class="form-text">
      Description of the new blob in Markdown format.
    </small>
  </div>

  <div class="mb-3">
    <label for="blob" class="col-form-label">File to upload as blob</label>
    <div class="custom-file">
      <input type="file" id="blob" name="blob"
	     class="custom-file-input"
	     aria-describedby="blobHelp">
      <label class="custom-file-label" for="blob">Choose file</label>
    </div>
    <small id="blobHelp" class="form-text">
      The filename is not allowed to start with an underscore character '_'.
    </small>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary px-5">Upload</button>
  </div>
</form>
{% endblock %} {# block main #}
    
{% block actions %}
<a href="{{ url_for('home') }}" role="button"
   class="btn btn-block btn-secondary">Cancel</a>
{% endblock %} {# block actions #}
