{% extends 'base.html' %}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('api.root') }}"
       class="badge badge-pill badge-dark">API</a>
  </div>
</div>
{% endblock %} {# block meta #}

{% block main %}
<p class="lead">
  This site serves blobs (files containing any data) publicly. A file
  can be uploaded or updated by an authorized account.
</p>
<h4>Most recently modified blobs</h4>
<table id="recent" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Blob</th>
      <th>Size</th>
      <th>Modified</th>
      <th>Details</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    {% for data in recent %}
    <tr>
      <td>
        <a href="{{ url_for('blob.blob', filename=data['filename']) }}">
          {{ data['filename'] }}</a>
      </td>
      <td>{{ data['size'] | filesizeformat }}</td>
      <td class="localtime">{{ data['modified'] }}</td>
      <td>
        <a href="{{ url_for('blob.details', filename=data['filename']) }}">
          Details</a>
      </td>
      <td>
        {% if g.am_admin %}
        <a href="{{ url_for('user.display', username=data['username']) }}">
          {{ data['username'] }}</a>
        {% else %}
        {{ data['username'] }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
<a href="{{ url_for('blob.upload') }}" role="button"
   class="btn btn-block btn-primary">Upload</a>
{% endblock %} {# block actions #}


{% block javascript %}
<script>
  $(function() {
    $("#recent").DataTable( {
      pagingType: "full_numbers",
      pageLength: 10,
      order: [[2, "desc"]]
    });
  });
</script>
{% endblock %}
