{% extends 'base.html' %}

{% block main %}
<p>
  This website serves blobs publicly. A blob is a file containing any
  data; this system does not care. A file can be uploaded and/or
  updated by anyone having an account in the system.
</p>

<h4 class="my-3">Most recently modified blobs</h4>
{% include 'blobs/list.html' %}
{% endblock %} {# block main #}

{% block actions %}
{% if g.current_user %}
<a href="{{ url_for('blob.upload') }}" role="button"
   class="btn btn-block btn-primary">Upload</a>
{% endif %} {# if g.current_user #}
{% endblock %} {# block actions #}

{% block javascript %}
{% include 'blobs/list_javascript.html' %}
{% endblock %}
