{# Code snippets for creating blob. #}

{% if g.current_user %}
{% if g.current_user.get('accesskey') %}
<div class="card my-4">
  {% include 'blob/curl.html' %}
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">Create a new blob by uploading a file.</h6>
        <p class="small">
          Note that the filename of the created blob is determined by
          the URL used. The filename of the uploaded file does not
          matter.
        </p>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['curl']['create'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['curl']['create'] }}</pre>
  </div>
</div>

<div class="card my-4">
  {% include 'blob/requests.html' %}
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h6 class="ml-5">Create a new blob by uploading a file.</h6>
        <p class="small">
          Note that the filename of the created blob is determined by
          the URL used. The filename of the uploaded file does not
          matter.
        </p>
      </div>
      <div class="col-md text-right">
        <button type="button"
                class="btn btn-sm btn-outline-primary mx-1 clipboard"
                data-clipboard-text="{{ commands['requests']['create'] }}"
                title="Copy the curl command to the clipboard.">
          Copy</button>
      </div>
    </div>
    <pre class="bg-light p-2 my-1 border rounded">{{ commands['requests']['create'] }}</pre>
  </div>
</div>

{% else %}
<div class="card my-4">
  <div class="card-body">
    <p>
      You need to set the access key of your account to view some useful
      code snippets for creating a blob.
    </p>
    <p>
      Go to
      <a href="{{ url_for('user.edit', username=g.current_user['username']) }}">
        your user account edit page</a>,
      click the checkbox, save and return to here.
    </p>
  </div>
</div>
{% endif %} {# if g.current_user.get('accesskey') #}
{% endif %} {# if g.current_user #}
