{% extends 'base.html' %}

{% block head_title %}Search blobs filenames and descriptions{% endblock %}

{% block body_title %}Search blobs filenames and descriptions{% endblock %}

{% block main %}
<div class="col-md-10 offset-md-2 my-3">
  <form action="{{ url_for('blobs.search') }}"
        class="row form-inline">
    <input type="search" name="term"
           class="form-control" size="30"
           placeholder="Search" aria-label="Search term"
           value="{{ term or '' }}">
    <button type="submit" class="btn btn-primary ml-3">
      Search filenames and descriptions</button>
  </form>
</div>
{% include 'blobs/list.html' %}
{% endblock %}

{% block javascript %}
{% include 'blobs/list_javascript.html' %}
{% endblock %}
